body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: "images/header.jpg";
}
@font-face {
  font-family: OpenDyslexic;
  src: url(fonts/OpenDyslexic-Regular.otf);
}
* {
  font-family: OpenDyslexic;
  animation: fadeIn 2s;
}
.main {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  background-color: blanchedalmond;
}
h1,
p,
h2,
div {
  padding: 0;
  margin: 0;
}
.header {
  padding: 3rem;
  text-align: center;
  background-image: "images/header.jpg";
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.about {
  text-align: center;
  padding-bottom: 1.5rem;
}
.two_pic{
  display:flex;
  background-color: hsl(60, 100%, 50%);
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.left_side {
  text-align: center;
}
.right_side {
  text-align: center;
  margin-left: 15%;
}
.left_pic{
  height: 10rem;
  width: 20rem;
}
.right_pic{
  height: 10rem;
  width: 20rem;
}